@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 24 24 27;
    --card: 255 255 255;
    --card-foreground: 24 24 27;
    --primary: 79 70 229;
    --primary-foreground: 255 255 255;
    --muted: 244 244 245;
    --muted-foreground: 113 113 122;
    --border: 228 228 231;
    --input: 244 244 245;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --radius: 0.75rem;
  }
  .dark {
    --background: 9 9 11;
    --foreground: 250 250 250;
    --card: 24 24 27;
    --card-foreground: 250 250 250;
    --primary: 99 102 241;
    --primary-foreground: 255 255 255;
    --muted: 39 39 42;
    --muted-foreground: 161 161 170;
    --border: 39 39 42;
    --input: 39 39 42;
    --destructive: 127 29 29;
    --destructive-foreground: 255 255 255;
  }
}
